@import url("https://fonts.googleapis.com/css?family=Open Sans");
@font-face {
    font-family: 'binggo-wood-display-serif';
    src: url(../font/binggo-wood-display-serif.otf);
}

@font-face {
    font-family: 'Coolvetica Rg';
    src: url(../font/Coolvetica\ Rg.otf);
}

@font-face {
    font-family: 'CYRVETIC';
    src: url(../font/CYRVETIC.TTF);
}

body{
    background-color: #0e0d0d;
}

.logo{
    font-family: 'Coolvetica Rg';
    font-size: 38px;
    position: absolute;
    display: inline;
    color: white;
    top: 50px;
    left: 300px;
}

.home{
    font-family: 'CYRVETIC', sans-serif;
    font-size: 25px;
    position: absolute;
    display: inline;
    color: white;
    top: 50px;
    left: 1304px;
   
}

.home:hover{
    color: white;
    text-decoration: underline #e6aa56;
    cursor: pointer;
}

.about{
    font-family: 'CYRVETIC', sans-serif;
    font-size: 25px;
    position: absolute;
    display: inline;
    color: white;
    top: 50px;
    left: 1414px;
}

.about:hover{
    text-decoration: underline #e6aa56;
    cursor: pointer;
}

.menu{
    font-family: 'CYRVETIC', sans-serif;
    font-size: 25px;
    position: absolute;
    display: inline;
    color: white;
    top: 50px;
    left: 1514px;
}

.menu:hover{
    text-decoration: underline #e6aa56;
    cursor: pointer;
}

.contact{
    font-family: 'CYRVETIC', sans-serif;
    font-size: 25px;
    position: absolute;
    display: inline;
    color: white;
    top: 50px;
    left: 1614px;
}

.contact:hover{
    text-decoration: underline #e6aa56;
    cursor: pointer;
}

.empieza{
    font-family: 'binggo-wood-display-serif', serif;
    font-size: 120px;
    position: absolute;
    display: inline;
    color: white;
    top: 250px;
    left: 520px;
}

.cafe1{
    position: absolute;
    display: block;
    color: white;
    top: 350px;
    left: 520px;
}

.cafe2{
    font-family: 'binggo-wood-display-serif', serif;
    font-size: 120px;
    position: absolute;
    display: inline;
    color: white;
    top: 1000px;
    left: 480px;
}

.shop{
    font-family: 'CYRVETIC', sans-serif;
    position: absolute;
    display: block;
    color: black;
    font-size: 25px;
    background-color: #e6aa56;
    border: 1px solid #e6aa56;
    height: 50px;
    width: 180px;
    margin: auto;
    text-align: center;
    padding-top: 18px;
    padding-right: 16px;
    padding-left: 16px;
    top: 1170px;
    left: 870px;
    font-weight: 600;

}

.raya{
    position: absolute;
    display: block;
    color: white;
    top: 1530px;
    left: 920px;
    height: 0px;
    width: 150px;
    border: 1px solid white;
}


.story{
    font-family: 'binggo-wood-display-serif', serif;
    font-size: 100px;
    position: absolute;
    display: inline;
    color: white;
    height: 50px;
    width: 620px;
    top: 1470px;
    left: 1098px;
}

.story pe span {
    font-size: 115px;
}

.story2{
    font-family: 'CYRVETIC', sans-serif;
    position: absolute;
    color: white;
    top: 1600px;
    display: block;
    font-size: 25px;
    left: 1100px;
    width: 745px;
}

.learn{
    font-family: 'CYRVETIC', sans-serif;
    position: absolute;
    display: block;
    color: black;
    font-size: 25px;
    background-color: #e6aa56;
    border: 1px solid #e6aa56;
    height: 45px;
    width: 180px;
    margin: auto;
    text-align: center;
    padding-top: 14px;
    padding-right: 16px;
    padding-left: 16px;
    top: 1710px;    
    left: 1100px;
    font-weight: 600;
}

.fotocafe{
    position: absolute;
    display: block;
    top: 1300px;
    left: 0px;
    width: 1000px;
}


.perfect{
    font-family: 'binggo-wood-display-serif', serif;
    font-size: 90px;
    position: absolute;
    display: inline;
    color: white;
    height: 50px;
    width: 720px;
    top: 2150px;
    left: 220px;
}

.perfect pe span {
    font-size: 105px;
}

.perfect2{
    font-family: 'CYRVETIC', sans-serif;
    position: absolute;
    color: white;
    top: 2510px;
    display: block;
    font-size: 25px;
    left: 220px;
    width: 745px;
}

.learn2{
    font-family: 'CYRVETIC', sans-serif;
    position: absolute;
    display: block;
    color: black;
    font-size: 25px;
    background-color: #e6aa56;
    border: 1px solid #e6aa56;
    height: 45px;
    width: 180px;
    margin: auto;
    text-align: center;
    padding-top: 14px;
    padding-right: 16px;
    padding-left: 16px;
    top: 2580px;    
    left: 220px;
    font-weight: 600;
}

.fotocafe2{
    position: absolute;
    display: block;
    top: 2120px;
    left: 1220px;
    width: 660px;
}

.productos{
    font-family: 'binggo-wood-display-serif', serif;
    font-size: 100px;
    position: absolute;
    display: inline;
    color: white;
    height: 50px;
    width: 720px;
    top: 3150px;
    left: 100px;
}

.productos pe span {
    font-size: 125px;
}

.fotocafe3{
    position: absolute;
    display: block;
    top: 3430px;
    left: 250px;
    width: 180px;
}

.fotocafe4{
    position: absolute;
    display: block;
    top: 3430px;
    left: 896px;
    width: 180px;
}

.fotocafe5{
    position: absolute;
    display: block;
    top: 3430px;
    left: 1515px;
    width: 180px;
}

.mocha{
    position: absolute;
    top: 3510px;
    display: block;
    left: 120px;
    height: 700px;
    width: 445px;
    border: 2px solid #e6aa56;
}

.mocha2{
    position: absolute;
    top: 3510px;
    display: block;
    left: 755px;
    height: 700px;
    width: 445px;
    border: 2px solid #e6aa56;
}

.mocha3{
    position: absolute;
    top: 3510px;
    display: block;
    left: 1370px;
    height: 700px;
    width: 445px;
    border: 2px solid #e6aa56;
}

.moch{
    font-family: 'CYRVETIC', sans-serif;
    position: absolute;
    color: white;
    top: 150px;
    display: block;
    font-size: 30px;
    left: 180px;
    width: 445px;
    font-weight: 600;
}

.moch2{
    font-family: 'CYRVETIC', sans-serif;
    position: absolute;
    color: white;
    top: 150px;
    display: block;
    font-size: 30px;
    left: 180px;
    width: 445px;
    font-weight: 600;
}

.moch3{
    font-family: 'CYRVETIC', sans-serif;
    position: absolute;
    color: white;
    top: 150px;
    display: block;
    font-size: 30px;
    left: 180px;
    width: 445px;
    font-weight: 600;
}

.expresso{
    font-family: 'CYRVETIC', sans-serif;
    position: absolute;
    color: white;
    position: absolute;
    top: 290px;
    font-size: 23px;
    display: block;
    left: 155px;
    width: 445px;

}

.expresso2{
    font-family: 'CYRVETIC', sans-serif;
    position: absolute;
    color: white;
    top: 290px;
    display: block;
    font-size: 23px;
    left: 155px;
    width: 445px;
}

.expresso3{
    font-family: 'CYRVETIC', sans-serif;
    position: absolute;
    color: white;
    top: 290px;
    display: block;
    font-size: 23px;
    left: 155px;
    width: 445px;
}

.chocolate{
    font-family: 'CYRVETIC', sans-serif;
    position: absolute;
    color: white;
    top: 370px;
    display: block;
    font-size: 23px;
    width: 445px;
    left: 155px;
}

.chocolate2{
    font-family: 'CYRVETIC', sans-serif;
    position: absolute;
    color: white;
    top: 370px;
    display: block;
    font-size: 23px;
    width: 445px;
    left: 155px;
}

.chocolate3{
    font-family: 'CYRVETIC', sans-serif;
    position: absolute;
    color: white;
    top: 370px;
    display: block;
    font-size: 23px;
    width: 445px;
    left: 155px;
}

.milk{
    font-family: 'CYRVETIC', sans-serif;
    position: absolute;
    color: white;
    top: 450px;
    display: block;
    font-size: 23px;
    width: 445px;
    left: 155px;
}

.milk2{
    font-family: 'CYRVETIC', sans-serif;
    position: absolute;
    color: white;
    top: 450px;
    display: block;
    font-size: 23px;
    width: 445px;
    left: 155px;
}

.milk3{
    font-family: 'CYRVETIC', sans-serif;
    position: absolute;
    color: white;
    top: 450px;
    display: block;
    font-size: 23px;
    width: 445px;
    left: 155px;
}

.learn3{
    font-family: 'CYRVETIC', sans-serif;
    position: absolute;
    display: block;
    color: black;
    font-size: 25px;
    background-color: #e6aa56;
    border: 1px solid #e6aa56;
    height: 45px;
    width: 180px;
    margin: auto;
    text-align: center;
    padding-top: 14px;
    padding-right: 16px;
    padding-left: 16px;
    top: 600px;    
    left: 120px;
    font-weight: 600;
}

.learn4{
    font-family: 'CYRVETIC', sans-serif;
    position: absolute;
    display: block;
    color: black;
    font-size: 25px;
    background-color: #e6aa56;
    border: 1px solid #e6aa56;
    height: 45px;
    width: 180px;
    margin: auto;
    text-align: center;
    padding-top: 14px;
    padding-right: 16px;
    padding-left: 16px;
    top: 600px;    
    left: 120px;
    font-weight: 600;
}

.learn5{
    font-family: 'CYRVETIC', sans-serif;
    position: absolute;
    display: block;
    color: black;
    font-size: 25px;
    background-color: #e6aa56;
    border: 1px solid #e6aa56;
    height: 45px;
    width: 180px;
    margin: auto;
    text-align: center;
    padding-top: 14px;
    padding-right: 16px;
    padding-left: 16px;
    top: 600px;    
    left: 120px;
    font-weight: 600;
}

.raya2{
    position: absolute;
    display: block;
    color: #e6aa56;
    top: 4380px;
    left: 590px;
    height: 0px;
    width: 799px;
    border: 1px solid #e6aa56;
}

.about2{
    font-family: 'Coolvetica', sans-serif;
    font-size: 55px;
    position: absolute;
    display: inline;
    color: white;
    top: 4650px;
    left: 220px;
    font-weight: 600;
}

.about2 pe span {
    color:#e6aa56;
}

.contact2{
    font-family: 'Coolvetica', sans-serif;
    font-size: 55px;
    position: absolute;
    display: inline;
    color: white;
    top: 4650px;
    left: 860px;
    font-weight: 600;
}

.contact2 pe span {
    color:#e6aa56;
}

.opening{
    font-family: 'Coolvetica', sans-serif;
    font-size: 55px;
    position: absolute;
    display: inline;
    color: white;
    top: 4650px;
    left: 1400px;
    width: 428px;
    font-weight: 600;
}

.opening pe span {
    color:#e6aa56;
}

.lorem{
    font-family: 'CYRVETIC', sans-serif;
    font-size: 25px;
    position: absolute;
    display: inline;
    color: white;
    top: 4750px;
    left: 120px;
    width: 600px;
    justify-content: center;
}

.lorem pe span {
    padding-left: 10px;
}

.lorem2{
    font-family: 'CYRVETIC', sans-serif;
    font-size: 25px;
    position: absolute;
    display: inline;
    color: white;
    top: 4750px;
    left: 770px;
    width: 600px;
    justify-content: center;
}

.lorem2 pe span {
    padding-left: 10px;
}

.lorem3{
    font-family: 'CYRVETIC', sans-serif;
    font-size: 25px;
    position: absolute;
    display: inline;
    color: white;
    top: 4750px;
    left: 1380px;
    width: 600px;
    justify-content: center;
}

.lorem3 pe span {
    padding-left: 10px;
}

.raya3{
    position: absolute;
    display: block;
    color: #e6aa56;
    top: 5120px;
    left: 590px;
    height: 0px;
    width: 799px;
    border: 1px solid #e6aa56;
}

.last{
    font-family: 'CYRVETIC', sans-serif;
    font-size: 25px;
    position: absolute;
    display: inline;
    color: white;
    top: 5160px;
    left: 770px;
    padding-bottom: 12px;
}

.last pe span {
    color:#e6aa56;
}

_░▒███████
░██▓▒░░▒▓██
██▓▒░__░▒▓██___██████
██▓▒░____░▓███▓__░▒▓██
██▓▒░___░▓██▓_____░▒▓██
██▓▒░_______________░▒▓██
_██▓▒░______________░▒▓██
__██▓▒░____________░▒▓██
___██▓▒░__________░▒▓██
____██▓▒░________░▒▓██
_____██▓▒░_____░▒▓██
______██▓▒░__░▒▓██
_______█▓▒░░▒▓██
_________░▒▓██
_______░▒▓██
_____░▒▓██
