@import url("https://fonts.googleapis.com/css?family=Open Sans");

body{
    background: transparent linear-gradient(180deg, var(--unnamed-color-ffffff) 0%, #E6E6E6 21%, #808080 100%) 0% 0% no-repeat padding-box;
    background: transparent linear-gradient(180deg, #FFFFFF 0%, #E6E6E6 21%, #808080 100%) 0% 0% no-repeat padding-box;
    opacity: 1;
    top: 0px;
    left: 0px;
    width: 1920px;
    height: 1080px;
    font-family: 'Open Sans', sans-serif;
}

.barra{
    position: absolute;
    display: block;
    top: 150px;
    left: 1566px;
    width: 110px;
    height: 800px;
    border-radius: 0px 8px 8px 0px;
    opacity: 1;
    background-color: black;
}

.cuadro{
    position: absolute;
    display: block;
    top: 150px;
    left: 270px;
    width: 1400px;
    height: 800px;
    border-radius: 0px 8px 8px 0px;
    border: 1px solid #707070;
    opacity: 1;
    background-color: #FFFFFF;
}

#logo1{
    position: absolute;
    display: block;
    top: 180px;
    left: 315px;
    width: 196px;
    height: 44px;


    opacity: 1;
}

#arrow2{
    position: absolute;
    display: block;
    top: 195px;
    left: 1610px;
    height: 14px;
    width: 24px;

    opacity: 1;
}

#arrow{
    position: absolute;
    display: block;
    top: 892px;
    left: 1610px;
    height: 14px;
    width: 24px;
    
    opacity: 1;
}

.cuadro{
    position: absolute;
    display: block;
    top: 150px;
    left: 270px;
    width: 1400px;
    height: 800px;
}
.cuadro .shop{
    position: absolute;
    display: block;
    top: 51.5px;
    left: 1224px;
    width: 27px;
    height: 27px;
    border-radius: 8px 0px 0px 8px;
    opacity: 1;
}

.cuadro .lupa{
    position: absolute;
    display: block;
    top: 51.5px;
    left: 1120px;
    width: 27px;
    height: 27px;
    border-radius: 8px 0px 0px 8px;
    opacity: 1;
}

.cuadro .barra{
    position: absolute;
    display: block;
    top: 0px;
    left: 1296px;
    width: 110px;
    height: 800px;
    border-radius: 0px 8px 8px 0px;
    opacity: 1;
}

.cuadro .barra .cant{
    color: #FFFFFF;
    position: absolute;
    font-size: 20px;
    top: 150px;
    left: 14px;
    width: 84px;
    height: 27px;
    text-align: center;
}

.cuadro .barra .four{
    position: absolute;
    font-size: 20px;
    color: #FFFFFF;
    opacity: 50%;
    left: 44px;
    top: 300px;
    text-align: center;
}

.cuadro .barra .five{
    position: absolute;
    font-size: 20px;
    color: #FFFFFF;
    left: 44px;
    top: 400px;
    text-align: center;
}

.cuadro .barra .six{
    position: absolute;
    font-size: 20px;
    color: #FFFFFF;
    left: 44px;
    top: 500px;
    text-align: center;
    opacity: 50%;
}

.logonew{
    position: absolute;
    display: block;
    top: 105px;
    left: 350px;
    width: 576px;
    height: 324px;

    opacity: 1;
}

.cuadro .barra .plata{
    position: absolute;
    font-size: 20px;
    color: #FFFFFF;
    opacity: 50%;
    left: 25px;
    top: 300px;
    text-align: center;
}

.cuadro .barra .plata2{
    position: absolute;
    font-size: 20px;
    color: #FFFFFF;
    left: 25px;
    top: 400px;
    text-align: center;
}

.cuadro .barra .plata3{
    position: absolute;
    font-size: 20px;
    color: #FFFFFF;
    left: 25px;
    top: 500px;
    text-align: center;
    opacity: 50%;
}

.saldo{
    position: absolute;
    display: block;
    top: 40px;
    left: 963px;
    width: 132px;
    height: 41px;
    font-size: 30px;
    color: black

}

.saldo2{
    position: absolute;
    display: block;
    top: 12px;
    left: 963px;
    width: 132px;
    height: 41px;
    font-size: 30px;
    color: black;
    text-decoration: none;
    
}

.links{
    text-decoration: none;
    color: black;
}

.comprar{
    position: absolute;
    display: block;
    top: 11px;
    left: 663px;
    width: 242px;
    height: 41px;
    font-size: 30px;
    color: black

}

.__{
    position: absolute;
    display: block;
    top: 70px;
    left: 700px;
    width: 132px;
    height: 41px;
    font-size: 30px;
    color: black
}

._2{
    position: absolute;
    display: block;
    top: 70px;
    left: 984px;
    width: 132px;
    height: 41px;
    font-size: 30px;
    color: black
}

.tarjeta{
    position: absolute;
    display: block;
    top: 122px;
    left: 100px;
}

.tarj2{
    position: absolute;
    display: block;
    top: 122px;
    left: 100px;
    width: 576px;
    height: 324px;
}

.tarjeta2{
    position: absolute;
    display: block;
    width: 716px;
    height: 55px;
    font-size: 40px;
    color: black;
    top: 661px;
    left: 60px;
}

.mishu{
    position: absolute;
    display: block;
    top: 398px;
    left: 301px;
    width: 700px;
    height: 55px;
    font-size: 40px;
    color: black;
}

.mishu2{
    position: absolute;
    display: block;
    top: 467px;
    width: 329px;
    left: 481px;
    height: 37px;
    font-size: 27px;
    color: black;
}

.mishu3{
    position: absolute;
    display: block;
    top: 527px;
    left: 537px;
    width: 200px;
    height: 37px;
    font-size: 27px;
    color: black;
}

.mishu4{
    position: absolute;
    display: block;
    top: 597px;
    left: 497px;
    width: 288px;
    height: 58px;
    font-size: 27px;
    color: black;
    border: 1px solid #707070;
    border-radius: 10px;
    opacity: 1;
}

.mishutext{
    position: absolute;
    display: block;
    top: 610px;
    left: 600px;
    width: 77px;
    height: 37px;
    font-size: 27px;
    color: black;
}

.COP{
    position: absolute;
    display: block;
    width: 716px;
    height: 55px;
    font-size: 27px;
    color: black;
    top: 720px;
    left: 60px;
}

.comprar2{
    position: absolute;
    display: block;
    top: 647px;
    left: 1090px;
    width: 160px;
    height: 114px;
    background: #D5FF43;
    border-radius: 8px;
}

.metro2{
    position: absolute;
    display: block;
    top: 670px;
    left: 1105px;
    width: 129px;
    height: 29px;
}

.comprar3{
    position: absolute;
    display: block;
    top: 714px;
    left: 1115px;
    width: 111px;
    height: 36px;
    font-size: 26px;
}
/*


  _    _  
   \  /
    ||
    ||
▄██████████████▄▐█▄▄▄▄█▌
████████████████▌▀▀██▀▀
████▄████████████▄▄█▌
▄▄▄▄▄██████████████▀



*/